*.xpr

## directory
*.cache
*.hw
.metadata
*.data
*.ipdefs
.Xil
*.sdk
*.srcs
*.ip_user_files
ipcache

## simulation results
*.sim/**/xsim/
# *.sim\**\xsim\
!*.wcfg
!*.coe

## Export files
*.xsa

## reports/logs/dump files
*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*.rlx
*.prj

## ip
ipshared
ipcfg
