*.xpr

## directory
*.cache
*.hw
.metadata
*.data
*.ipdefs
.Xil
*.sdk
*.ip_user_files
ipcache

## reports/logs/dump files
*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt

## 
ipshared

